@import "vars";

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $text;
  height: 100%;
}

a {
  display: inline-block;
  color: #333333;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.title {
  font-size: 30px;
  padding: 35px 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}
.angle {
  border: solid 9px transparent;
  border-bottom-color: $bg-btn;
  position: absolute;
  top: -16px;
  left: 46px;
  transform: translateY(-2px);
  z-index: 2;
}

.btn__off {
  display: none;
}

.aside-title {
  font-size: 20px;
  color: #010101;
  padding: 5px 30px 20px 0;
  border-bottom: solid 1px #e7ebee;
  margin-bottom: 25px;
}

.active-btn {
  &::before {
    color: #77de51;
  }
}

.pagination {
  &__inner {
    display: flex;
    justify-content: flex-end;
    button {
      width: 50px;
      text-align: center;
      background-color: #7347c1;
      border-radius: 20px;
      padding: 11px;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      border: none;
      &:hover {
        background-color: #8261be;
      }
      &.disable {
        background-color: #fff;
        color: #747b86;
      }
      &.previos {
        margin-right: 15px;
      }
      &.next {
        margin-left: 15px;
      }
    }
  }
  &__list {
    li {
      display: inline-block;
      &:hover {
        a {
          background-color: #509aec;
          color: #fff;
        }
      }
      & + li {
        margin-left: 2px;
      }
      a {
        width: 50px;
        text-align: center;
        background-color: #fff;
        border-radius: 20px;
        padding: 5px;
        font-size: 16px;
        font-weight: 500;
        color: #747b86;
        &.active {
          background-color: $bg-btn;
          color: #ffffff;
        }
      }
    }
  }
}
