@import "global";
@import "vars";
@import "fonts";

/******************************* HEADER STYLE ***********************************/

.header {
  &__top {
    background-color: $bg;
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 0;
    }
  }
  &__seller {
    margin-left: auto;
    margin-right: 50px;
    .seller {
      padding: 3px 18px 2px;
      color: #ffffff;
      background-color: $hover-color;
      border-radius: 27px;
    }
  }
  &__btn {
    .login,
    .register {
      width: 90px;
      padding: 5px 0;
      border-radius: 4px;
      color: #ffffff;
      text-align: center;
    }
    .login {
      background-color: #62d03b;
      margin-right: 15px;
    }
    .register {
      background-color: #ff6a6c;
    }
    &-search {
      height: 45px;
      border: none;
      border-radius: 27px;
      background-color: $bg-btn;
      padding: 0 30px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      span {
        color: #fff;
        font-size: 20px;
      }
    }
  }
  &__menu {
    padding: 20px 0;
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    ul.menu {
      display: flex;
      text-transform: uppercase;
      font-weight: 500;
      li {
        & + li {
          margin-left: 35px;
        }
        a {
          transition: all .3s ease;
          &:hover {
            color: $hover-color;
          }
        }
      }
    }
  }
  &__form-box {
    position: relative;
    input {
      height: 45px;
      width: 360px;
      padding-left: 25px;
      padding-right: 85px;
      border: solid 1px #d9dfe5;
      border-radius: 24px;
      &::placeholder {
        color: #898f96;
      }
    }
  }
}

/******************************* SEARCH STYLE ***********************************/

.search {
  background-color: $bg-btn;
  text-align: center;
  color: #fff;
  &__inner {
    position: relative;
    min-height: 725px;
    padding: 170px 0 95px;
  }
  &__suptitle,
  &__title {
    font-size: 60px;
    line-height: 70px;
  }
  &__title {
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    margin-bottom: 60px;
  }
  &__btn {
    &-box {
      max-width: 420px;
      margin: 0 auto;
    }
    &-link {
      color: #ffffff;
      padding: 11px 30px;
      border: solid 1px #fff;
      border-radius: 27px;
      background-color: $bg-btn;
      &:hover {
        background-color: #fff;
        color: $bg-btn;
      }
      & + .search__btn-link {
        margin-left: 30px;
      }
    }
    &-form {
      width: 220px;
      color: #fff;
      text-align: center;
      border: none;
      background-color: $bg-btn;
      border-radius: 3px;
      margin-left: auto;
    }
  }
  &__form {
    border-radius: 17px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08), 0 -25px 0 -11px rgba(#fff, .5);
    position: absolute;
    bottom: -65px;
    left: 0;
    right: 0;
    &-inner {
      border-radius: 32px;
      box-shadow: 0 -52px 0 -24px rgba(#fff, .5);
    }
    form {
      background-color: #fff;
      border-radius: 5px;
      padding: 40px;
      display: flex;
      input {
        height: 55px;
        max-width: 610px;
        width: 100%;
        padding: 0 30px;
        border: solid 1px #dcdcdc;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-right: none;
        &::placeholder {
          color: #676767;
        }
      }
    }
  }
}

// custom select

.select-box {
  position: relative;
  display: block;
  width: 195px;
  color: #555555;
  border: solid 1px #dcdcdc;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: left;
  &__current {
    position: relative;
    cursor: pointer;
    outline: none;
    &:focus {
      & + .select-box__list {
        opacity: 1;
        // We have to set "animation-name: none;" to make the list visible (read below how it works)
        animation-name: none;
        .select-box__option {
          cursor: pointer;
        }
      }
      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 13px;
    height: 8px;
    transition: 0.2s ease;
  }
  &__value {
    display: flex;
  }
  &__input {
    display: none;
    &:checked + .select-box__input-text {
      display: block;
    }
  }

  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 11px 20px;
    background-color: #fff;
  }

  &__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    // We need to use animation with delay.
    // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
    // This delay will not be noticed because we set "opacity" to "0".
    // We also use "animation-fill-mode: forwards" to make the list stay hidden.
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  }
  &__option {
    display: block;
    padding: 3px;
    background-color: #fff;

    &:hover,
    &:focus {
      color: #546c84;
      background-color: #fbfbfb;
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

//end custom select


/******************************* ITEMS STYLE ***********************************/

.items {
  padding: 185px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}
.item {
  max-width: 365px;
  padding: 40px 35px 50px;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
  &:hover {
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.08);
  }
  &__image {
    margin-bottom: 35px;
    img {
      margin: 0 auto;
    }
  }
  &__title {
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
  }
}

/******************************* FEATURES STYLE ***********************************/

.featured {
  padding: 120px 0;
  background-color: #eff1f5;
  &__title {
    margin-bottom: 50px;
  }
  &__item {
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    &-inner {
      display: flex;
    }
    &-image {
      max-width: 555px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &-content {
      padding: 50px 35px 25px;
      background-color: #fff;
      max-width: 585px;
      width: 100%;
    }
    &-title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;
      color: #000;
    }
    &-description {
      display: flex;
      margin-bottom: 32px;
    }
    &-img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 30px;
      height: 30px;
    }
    &-name {
      font-size: 15px;
      padding-left: 20px;
      margin-right: 20px;
      color: #000;
      position: relative;
    }
    &-product {
      color: #7347c1;
      padding-left: 27px;
      position: relative;
      &::before {
        content: '\f19a';
        font-family: 'icomoon';
        position: absolute;
        left: 0;
      }
    }
    &-text {
      margin-bottom: 37px;
    }
    &-tags {
      display: flex;
      padding-bottom: 45px;
      border-bottom: 1px solid #ececec;
      margin-bottom: 23px;
      &--item {
        font-size: 15px;
        color: #868c96;
        margin-right: 8px;
        border-radius: 14px;
        background-color: #f1f3f6;
        padding: 0 15px;
      }
    }
    &-box {
      display: flex;
      font-size: 15px;
      .price {
        font-weight: 500;
        color: #fff;
        padding: 1px 20px;
        margin-right: 20px;
        background-color: #0674ec;
        border-radius: 16px;
      }
      .likes,
      .buys {
        padding-left: 25px;
        position: relative;
      }
      .likes {
        margin-right: 20px;
        &::before {
          content: '\f08a';
          font-family: 'icomoon';
          position: absolute;
          color: #7347c1;
          left: 0;
        }
      }
      .buys {
        color: #0674ec;
        &::before {
          content: '\f07a';
          font-family: 'icomoon';
          position: absolute;
          left: 0;
        }
      }
      .rating {
        margin-left: auto;
      }
    }
  }
  .slick {
    &-arrow {
      position: absolute;
      top: -127px;
      right: 20px;
      font-size: 30px;
      color: #fff;
      padding: 10px 22px;
      background-color: #7347c1;
      border: none;
      cursor: pointer;
    }
    &-next{
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    &-prev {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      right: 74px;
      z-index: 2;
    }
  }
}

/******************************* NEWEST STYLE ***********************************/

.newest {
  padding: 120px 0;
  background-color: #f6f7fb;
  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    a {
      color: #747b86;
      font-size: 16px;
      padding-right: 30px;
      position: relative;
      &::after {
        content: '\f142';
        font-family: 'icomoon';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__inner {
    &-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    &-btn {
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
      margin-bottom: 50px;
      background-color: #fff;
      button {
        padding: 8px 22px;
        font-size: 15px;
        border: none;
        color: #747b86;
        border-radius: 16px;
        cursor: pointer;
        margin-right: 8px;
        &.mixitup-control-active {
          color: #fff;
          background-color: #0674ec;
        }
      }
    }
  }
  &__item {
    max-width: 365px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    overflow: hidden;
    margin-bottom: 30px;
    &:hover .newest__item-hover {
      height: 230px;
      transform: translateY(0%);
    }
    &-img {
      min-height: 230px;
      display: block;
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &-hover {
      transform: translateY(100%);
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to right, rgba(103,79,187,1) 0%, rgba(5,119,226,1) 100%);
      position: absolute;
      justify-content: space-between;
      align-items: center;
      padding: 0 45px;
      display: flex;
      transition: all .5s ease;
      a {
        border: solid 1px #fff;
        line-height: 45px;
        padding: 0 25px;
        font-weight: 500;
        border-radius: 24px;
        color: #fff;
        &:hover {
          background-color: #fff;
          color: #0674ec;
        }  
      }
    }
    &-content {
      padding: 30px 30px 15px;
    }
    &-title {
      font-size: 20px;
      margin-bottom: 20px;
      color: #000;
    }
    &-description {
      display: flex;
      margin-bottom: 32px;
    }
    &-user {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 30px;
      height: 30px;
    }
    &-name {
      font-size: 15px;
      padding-left: 20px;
      margin-right: 20px;
      color: #000;
      position: relative;
    }
    &-product {
      color: #7347c1;
      padding-left: 27px;
      position: relative;
      &::before {
        content: '\f19a';
        font-family: 'icomoon';
        position: absolute;
        left: 0;
      }
    }
    &-text {
      margin-bottom: 30px;
    }
    &-box {
      display: flex;
      align-items: center;
      font-size: 15px;
      padding-top: 15px;
      border-top: 1px solid #ececec;
      .price {
        font-weight: 500;
        color: #0674ec;
        padding: 1px 20px;
        margin-right: 20px;
        background-color: #e6f1fd;
        border-radius: 16px;
      }
      .likes,
      .buys {
        padding-left: 25px;
        position: relative;
      }
      .likes {
        &::before {
          content: '\f08a';
          font-family: 'icomoon';
          position: absolute;
          color: #7347c1;
          left: 0;
        }
      }
      .buys {
        color: #0674ec;
        margin-left: auto;
        &::before {
          content: '\f07a';
          font-family: 'icomoon';
          position: absolute;
          left: 0;
        }
      }
      .rating {
        margin-left: 15px;
      }
    }
  }
}

.psd {
  &::before {
    content: '\e900';
  }
}

.html {
  &::before {
    content: '\f13b';
  }
}

.all__product {
  &-box {
    text-align: center;
  }
  &-link {
    padding: 13px 30px;
    color: #fff;
    background-color: #0674ec;
    border-radius: 28px;
  }
}

/******************************* FOLLOWERS STYLE ***********************************/

.followers {
  padding: 120px 0;
  background-color: #eff1f5;
  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    a {
      color: #747b86;
      font-size: 16px;
      padding-right: 30px;
      position: relative;
      &::after {
        content: '\f142';
        font-family: 'icomoon';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__inner {
    &-box {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    &-btn {
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
      margin-bottom: 50px;
      background-color: #fff;
      button {
        padding: 8px 22px;
        font-size: 15px;
        border: none;
        color: #747b86;
        border-radius: 16px;
        cursor: pointer;
        margin-right: 8px;
        &.mixitup-control-active {
          color: #fff;
          background-color: #0674ec;
        }
      }
    }
  }
  &__item {
    max-width: 365px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    overflow: hidden;
    margin-bottom: 30px;
    &:hover .newest__item-hover {
      height: 230px;
      transform: translateY(0%);
    }
    &-img {
      min-height: 230px;
      display: block;
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &-content {
      padding: 30px 30px 15px;
    }
    &-title {
      font-size: 20px;
      margin-bottom: 20px;
      color: #000;
    }
    &-description {
      display: flex;
      margin-bottom: 32px;
    }
    &-user {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 30px;
      height: 30px;
    }
    &-name {
      font-size: 15px;
      padding-left: 20px;
      margin-right: 20px;
      color: #000;
      position: relative;
    }
    &-product {
      color: #7347c1;
      padding-left: 27px;
      position: relative;
      &::before {
        content: '\f19a';
        font-family: 'icomoon';
        position: absolute;
        left: 0;
      }
    }
    &-text {
      margin-bottom: 30px;
    }
    &-box {
      display: flex;
      align-items: center;
      font-size: 15px;
      padding-top: 15px;
      border-top: 1px solid #ececec;
      .price {
        font-weight: 500;
        color: #0674ec;
        padding: 1px 20px;
        margin-right: 20px;
        background-color: #e6f1fd;
        border-radius: 16px;
      }
      .likes,
      .buys {
        padding-left: 25px;
        position: relative;
      }
      .likes {
        &::before {
          content: '\f08a';
          font-family: 'icomoon';
          position: absolute;
          color: #7347c1;
          left: 0;
        }
      }
      .buys {
        color: #0674ec;
        margin-left: auto;
        &::before {
          content: '\f07a';
          font-family: 'icomoon';
          position: absolute;
          left: 0;
        }
      }
      .rating {
        margin-left: 15px;
      }
    }
  }
  .slick {
    &-arrow {
      position: absolute;
      top: -107px;
      right: 20px;
      font-size: 30px;
      color: #fff;
      padding: 10px 22px;
      background-color: #7347c1;
      border: none;
      cursor: pointer;
    }
    &-next{
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    &-prev {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      right: 74px;
      z-index: 2;
    }
  }
}

.psd {
  &::before {
    content: '\e900';
  }
}

.html {
  &::before {
    content: '\f13b';
  }
}

/******************************* ADVANTAGES STYLE ***********************************/

.advantages {
  background-color: #212225;
  padding: 100px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
    font-size: 36px;
    padding: 0 5px;
    span {
      color: #fff;
      font-size: 18px;
    }
    &-number {
      padding-top: 85px;
      margin-bottom: 25px;
      &.sale,
      &.total,
      &.customers,
      &.members {
        color: #feb71d;
        position: relative;
        &::after {
          content: "\f0b1";
          position: absolute;
          font-family: icomoon;
          color: #feb71d;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          font-size: 45px;
        }
      }
      &.total {
        color: #58c9e9;
        &::after {
          content: '\f093';
          color: #58c9e9;
        }
      }
      &.customers {
        color: #77de51;
        &::after {
          content: '\f118';
          color: #77de51;
        }
      }
      &.members {
        color: #ff6a6d;
        &::after {
          content: "\f0c0";
          color: #ff6a6d;
        }
      }
    }
  }
}

/******************************* CHOOSE STYLE ***********************************/

.choose {
  padding: 120px 0 90px;
  text-align: center;
  color: $text;
  &__title {
    font-size: 36px;
    margin-bottom: 30px;
    color: #000;
    span {
      color: #0674ec;
    }
  }
  &__subtitle {
    max-width: 705px;
    margin: 0 auto 65px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 365px;
    padding: 55px 35px 60px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;
    position: relative;
    &-title {
      color: #000;
      font-size: 24px;
      margin-bottom: 30px;
    }
    &-text {
      font-weight: 400;
    }
    &-img {
      font-size: 60px;
      margin-bottom: 50px;
      &.icon-drivers-license-o {
        color: #0674ec;
      }
      &.icon-magic {
        color: #7f4ec2;
      }
      &.icon-lock {
          color: #77de51;
      }
      &.icon-bar-chart-o {
        color: #feb71d;
      }
      &.icon-envira {
        color: #58c9e9;
      }
      &.icon-phone-square {
        color: #ff6a6d;
      }
    }
  }
  .back-text {
    position: absolute;
    color: rgba(#5c87f8, .2);
    font-size: 48px;
    font-weight: 300;
    top: 20px;
    left: 20px;
  }
}

/******************************* POSSIBLY STYLE ***********************************/

.possibly {
  &__inner  {
    display: flex;
  }
  &__item {
    color: #fff;
    max-width: 960px;
    width: 100%;
    padding: 100px 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &-img {
      margin: 0 auto 50px;
    }
    &-title {
      font-size: 36px;
      margin-bottom: 25px;
    }
    &-text {
      max-width: 600px;
      margin: auto;
    }
    &-box {
      margin-top: 30px;
    }
    &-link {
      padding: 10px 30px;
      background-color: #fff;
      color: #0674ec;
      border-radius: 27px;
      &.shopping {
        color: #7347c1;
      }
    }
  }
}

/******************************* FEEDBACK STYLE ***********************************/

.feedback {
  padding: 120px 0;
  color: $text;
  &__title {
    font-size: 36px;
    margin-bottom: 30px;
    color: #000;
    text-align: center;
    span {
      color: #0674ec;
    }
  }
  &__subtitle {
    max-width: 705px;
    margin: 0 auto 45px;
    text-align: center
  }
  &__item{
    max-width: 555px;

    padding: 20px 12px;
    margin-bottom: 60px;
    &-inner {
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
      border-left: solid 2px #0674ec;
      padding: 50px 40px;
      max-width: 540px;
    }
  }
  &__author {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &::after {
      content: '\f0e5';
      position: absolute;
      font-family: 'icomoon', sans-serif;
      font-size: 60px;
      color: #e8e8e8;
      top: 10px;
      right: 0;
    }
    &-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 20px;
    }
    &-name {
      font-size: 20px;
      color: #000;
      span {
        display: block;
        font-size: 16px;
        color: $text;
      }
    }
  }
  &__box {
    text-align: center;
    &-link {
      padding: 10px 30px;
      background-color: #0674ec;
      border-radius: 27px;
      color: #fff;
    }
  }
}

/******************************* NEWS STYLE ***********************************/

.news {
  background-color: #eff1f5;
  padding: 120px 0;
  &__title {
    font-size: 36px;
    margin-bottom: 30px;
    color: #000;
    text-align: center;
    span {
      color: #0674ec;
    }
  }
  &__subtitle {
    max-width: 705px;
    margin: 0 auto 65px;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 360px;
    border-radius: 5px;
    overflow: hidden;
    &-content {
      padding: 30px 30px 7px;
      background-color: #fff;
    }
    &-img {
      min-height: 230px;
      display: block;
      width: 100%;
    }
    &-title {
      font-weight: 500;
      font-size: 22px;
      color: #000;
      margin-bottom: 20px;
    }
    &-text {
      padding-bottom: 30px;
      border-bottom: 1px solid #ececec;
    }
    &-box {
      padding-top: 7px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #999;
      font-size: 15px;
      .time,
      .comments,
      .views {
        padding: 5px 0 5px 23px;
        position: relative;
        &::before {
          content: '\f017';
          position: absolute;
          left: 0;
          font-family: 'icomoon', sans-serif;
          color: #7e7e7e;
        }
      }
      .time {
        padding-right: 40px;
        border-right: 1px solid #ececec;
        &::before {
          color: #0674ec;
        }
      }
      .comments {
        &::before {
          content: '\f0e5';
        }
      }
      .views {
        &::before {
          content: '\f06e';
        }
      }
    }
  }
}

.news__item-box {
  a.comments {
    color: #999;
  }
}


